<svg class="water-background"
     viewBox="0 0 1000 1000"
     preserveAspectRatio="none">

    <g id="waves">
        <path class="wave"></path>
        <path class="wave"></path>
        <path class="wave"></path>
        <path class="wave"></path>
        <path class="wave"></path>
        <path class="wave"></path>
        <path class="wave"></path>
        <path class="wave"></path>
        <path class="wave"></path>
        <path class="wave"></path>
    </g>
</svg>


<!-- Duck ripples -->
<svg class="ripple-background"
     viewBox="0 0 1000 1000"
     preserveAspectRatio="none">
    <g id="duck-ripples"></g>
</svg>


<img id="pond-duck-1"
     src="/assets/logos/logo-rubber-duck-octavia.svg"
     alt=""
     aria-hidden="true">

<img id="pond-duck-2"
     src="/assets/logos/logo-rubber-duck-emily-and-lyra.svg"
     alt=""
     aria-hidden="true">

<img id="pond-duck-3"
     src="/assets/logos/logo-rubber-duck-abg.svg"
     alt=""
     aria-hidden="true">

<script src="{{ '/assets/js/pond.js' | relative_url }}"></script>
<script src="{{ '/assets/js/navigation.js' | relative_url }}"></script>
<!--<script src="/absurdly-goud/assets/js/pond.js"></script>-->