<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ page.title }} | {{ site.title }}</title>

    <link rel="icon" type="image/svg+xml" href="{{ '/favicon.svg' | relative_url }}">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/animated-background.css">
</head>

<body>

<svg class="water-background"
     viewBox="0 0 1000 1000"
     preserveAspectRatio="none">

    <g id="waves">
        <path class="wave"></path>
        <path class="wave"></path>
        <path class="wave"></path>
        <path class="wave"></path>
        <path class="wave"></path>
        <path class="wave"></path>
        <path class="wave"></path>
        <path class="wave"></path>
        <path class="wave"></path>
        <path class="wave"></path>
    </g>
</svg>


<!-- Duck ripples -->
<svg class="ripple-background"
     viewBox="0 0 1000 1000"
     preserveAspectRatio="none">
    <g id="duck-ripples"></g>
</svg>


<img id="pond-duck-1"
     src="/assets/images/duck.svg"
     alt=""
     aria-hidden="true">

<img id="pond-duck-2"
     src="/assets/images/duck.svg"
     alt=""
     aria-hidden="true">

<img id="pond-duck-3"
     src="/assets/images/duck.svg"
     alt=""
     aria-hidden="true">

{% include header.html %}

<div class="page-wrapper">
    <main>
        {{ content }}
    </main>

    {% include aside.html %}
</div>

{% include footer.html %}

<script src="{{ '/assets/js/pond.js' | relative_url }}"></script>
<!--<script src="/absurdly-goud/assets/js/pond.js"></script>-->

</body>
</html>